<div>
	<nav class="navbar-nav">
		<div class="container">
			<div class="nav-wrapper"> 
				<a href="/index.html" class="brand-logo navbar-text">
					<img src="/img/horse_flame_white.png" alt="NHS Logo" class="nav-logo" />
					<span class="brand-text">
						<span class="brand-line brand-line-top">Homestead</span>
						<span class="brand-line brand-line-bottom"><b>National Honor Society</b></span>
					</span>
				</a>
				<a href="#" data-target="mobile-menu" class="sidenav-trigger"><i class="material-icons icon-black">menu</i></a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/index.html" class="navbar-text" data-page="home">Home</a></li>
					<li><a class="dropdown-trigger navbar-text" href="#!" data-target="eventsdropdown">Events<i class="material-icons right">arrow_drop_down</i></a></li>
					<li><a class="dropdown-trigger navbar-text" href="#!" data-target="projectdropdown">Project<i class="material-icons right">arrow_drop_down</i></a></li>
					<li><a href="/socials/index.html" class="navbar-text" data-page="socials">Socials</a></li>
					<!-- <li><a href="/about/index.html" class="navbar-text" data-page="about">About</a></li> -->
					<li><a href="/admin/index.html" class="navbar-text admin hide" data-page="admin">Admin</a></li>
					<li><a href="/account/index.html" class="navbar-text account hide" data-page="account"></a></li>
					<li><a href="/login/index.html" class="navbar-text login" data-page="login">Login</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<ul id="eventsdropdown" class="dropdown-content">
		<li><a href="/events/index.html" class="navbar-text">Events</a></li>
		<li><a href="/events/blog.html" class="navbar-text">Blog</a></li>
	</ul>
	<ul id="projectdropdown" class="dropdown-content">
		<li><a href="/project/index.html" class="navbar-text">Home</a></li>
		<li><a href="/project/events.html" class="navbar-text">Events</a></li>
		<li><a href="/project/blog.html" class="navbar-text">Blog</a></li>
		<!-- <li><a href="/project/resourcepackets.html" class="navbar-text">Resource Packets</a></li> -->
	</ul>
	<ul class="sidenav" id="mobile-menu">
		<li class="sidenav-brand center">
			<img src="/img/horse_flame_white.png" alt="NHS Logo" class="mobile-logo" />
			<div class="brand-text mobile-brand-text">
				<div class="brand-line brand-line-top">Homestead</div>
				<div class="brand-line brand-line-bottom"><b>National Honor Society</b></div>
			</div>
		</li>
		<li><a href="/index.html" class="navbar-text" data-page="home">Home</a></li>
		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				<li>
					<a class="collapsible-header waves-effect navbar-text">Events</a>
					<div class="collapsible-body">
						<ul>
							<li><a href="/events/index.html" class="navbar-text">Events</a></li>
							<li><a href="/events/blog.html" class="navbar-text">Blog</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<li class="no-padding">
			<ul class="collapsible collapsible-accordion">
				<li>
					<a class="collapsible-header waves-effect navbar-text">Project</a>
					<div class="collapsible-body">
						<ul>
							<li><a href="/project/index.html" class="navbar-text">Home</a></li>
							<li><a href="/project/events.html" class="navbar-text">Events</a></li>
							<li><a href="/project/blog.html" class="navbar-text">Blog</a></li>
							<!-- <li><a href="/project/resourcepackets.html" class="navbar-text">Resource Packets</a></li> -->
						</ul>
					</div>
				</li>
			</ul>
		</li>
		<li><a href="/socials/index.html" class="navbar-text" data-page="socials">Socials</a></li>
		<!-- <li><a href="/about/index.html" class="navbar-text" data-page="about">About</a></li> -->
		<li><a href="/admin/index.html" class="navbar-text admin hide" data-page="admin">Admin</a></li>
		<li><a href="/account/index.html" class="navbar-text account hide" data-page="account"></a></li>
		<li><a href="/login/index.html" class="navbar-text login" data-page="login">Login</a></li>
	</ul>
</div>

